<div class="dashboard-conatiner">
    <div class="image-container">
        <div class="my-image">
            <img src="../../assets/imgs/akhil-m.png" at="Akhil" />

        </div>
        <div class="angular-logo">
            <img src="../../assets/imgs/Angular.png" at="Angular" />
        </div>
    </div>
    <div class="profile-container">
        <div class="profile profile-small">I am An <br />
            <div class="profie-big"><span>Angular</span>
                Developer</div>
        </div>
    </div>
</div>